beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
dj-stripe==1.0.0.post1
Django==2.0.3
django-polymorphic==2.0.2
djangorestframework==3.7.7
idna==2.6
jsonfield==2.0.2
oauthlib==2.0.7
Pillow==6.2.0
psycopg2-binary==2.7.4
PyJWT==1.6.1
PyQRCode==1.2.1
python-dateutil==2.7.2
python-doc-inherit==0.3.0
python3-openid==3.1.0
pytz==2018.3
qrcode==6.0
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
stripe==1.79.1
tqdm==4.19.9
urllib3==1.22
