{% extends 'login/newIndex.html' %}

{% block content %}

{% if user.is_authenticated %}
 
 {% if isAdmin %}
	

	<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Vahaan</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="sample6">
                    <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                </div>
            </div>

            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item">About</li>
                <li class="mdl-menu__item">Contact</li>
                <a href="/signup/"><li class="mdl-menu__item"> Create new user</li></a>   
                <a href="/logout/"><li class="mdl-menu__item">Logout</li></a>
            </ul>
        </div>
</header>
<style>
    .center{
        text-align: center;
        padding: 2%;
        font-size: 30px;
    }

</style>
<main class="mdl-layout__content mdl-color--grey-100  lead " id="regUserDiv" >
    <p class="center">Please search a Vehicle</p>
</main>
</div>


 {% else %}
	<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Vahaan</span>
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                        <i class="material-icons">search</i>
                    </label>
                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" id="search">
                        <label class="mdl-textfield__label" for="search">Enter your query...</label>
                    </div>
                </div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                    <li class="mdl-menu__item">About</li>
                    <li class="mdl-menu__item">Contact</li>
                    <li class="mdl-menu__item">Legal information</li>
                </ul>
            </div>
        </header>
        <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">
                <img src="https://i.imgur.com/ZSfgp2Z.jpg" class="demo-avatar">
                <div class="demo-avatar-dropdown">
                    <span id = "reg_number"></span>
                </div>
            </header>
            <!-- navbar for user-->
            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link" href="">Profile</a>
                <a class="mdl-navigation__link" href="/logout/">Logout</a>
                <div class="mdl-layout-spacer"></div>
                <a class="mdl-navigation__link" href="">
                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>
                    <span class="visuallyhidden">Help</span>
                </a>
            </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
                    mdl-layout--fixed-tabs">
                <header class="mdl-layout__header mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
                    <!-- Tabs -->
                    <div class="mdl-layout__tab-bar mdl-js-ripple-effect ">
                        <a href="#fixed-tab-1" class="mdl-layout__tab is-active mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">PUC</a>
                        <a href="#fixed-tab-3" class="mdl-layout__tab mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">Toll</a>
                    </div>
                </header>

                <main class="mdl-layout__content">
                    <!-- PUC kaa list -->
                    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
                        <div class="page-content">
                            <ul class="demo-list-two mdl-list" id="pucList">
                            </ul>
                        </div>

                    </section>

                    <!-- toll kaa list -->
                    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
                        <div class="page-content">
                            <!-- Your content goes here -->
                            <ul class="demo-list-two mdl-list" id="tollList">

                            </ul>
                        </div>
                    </section>
                </main>
            </div>
        </main>
    </div>
    </div>
   {% endif %}
		


  {% endif %}

{% endblock %}